@charset "UTF-8";
/**
* MARHS WEBSITE ver. 005 (ALPHA REVISED)
* Developer : RMMO ICT WebDev Team
* Ask Vincent Ferrer for changes/updates

==== COLOR PALLETE ====
golden yellow:
#e6a314

brown:
#733411

Gradient Backgrounds:
Light Gold Yellow:
#e6a314

Dark Gold Yellow:
#febb2e


Elements or Abstracts:
Light Gold Yellow:
#e6a314

Dark Gold Yellow:
#febb2e

**/

/*--------------------------------------------------------------
==== GENERAL ====
--------------------------------------------------------------*/
html, body {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}
:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trueno Regular', sans-serif;
    color: #444444;
}

a {
    color: #733411;
    text-decoration: none;
}

a:hover {
    color: #b8860b;
    text-decoration: none;
}

/*--------------------------------------------------------------
# PRELOADER
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #733411;
    border-top-color: #e2eefd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# BACK TO TOP BUTTON
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #733411;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #733311ce;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# SECTIONS GENERAL
--------------------------------------------------------------*/

section {
    padding: 145px 0;
}

.section-bg {
    background-color: #f6f9fe;
}

.section-title {
    font-family: 'Trueno SemiBold';
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #733411;
}

.section-title h2:before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2:after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #fdc134;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    font-family: 'Trueno Light';
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# BREADCRUMBS
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    background-image: url(https://i.ibb.co/frVShBt/bg.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    min-height: 40px;
    color: #f6f9fe;
}

.breadcrumbs:before {
    content: "";
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0 
}

.breadcrumbs .container {
    position: relative;
    z-index: 2;
}

.breadcrumbs h2 {
    font-family: 'Trueno SemiBold';
    font-size: 28px;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol a {
    color: #f6f9fe;
    transition: 0.3s;
}

.breadcrumbs ol a:hover {
    text-decoration: underline;
}

.breadcrumbs ol li + li {
    padding-left: 10px;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #f6f9fe;
    content: "/";
}

/*--------------------------------------------------------------
# TOP BAR
--------------------------------------------------------------*/
#topbar {
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #F76B1C 0%, #FAD961 100%);
    height: 40px;
    font-size: 14px;
    transform-origin: all 0.5s;
    color: #fff;
    padding: 0;
}

#topbar .contact-info i {
    font-style: normal;
    color: #fff;
}

#topbar .contact-info i a, #topbar .contact-info i span {
    font-family: 'Trueno Light';
    padding-left: 5px;
    color: #fff;
}

#topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}

#topbar .contact-info i a:hover {
    color: #fff;
    cursor: default;
    text-decoration: underline;
}

#topbar .social-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

#topbar .social-links a:hover {
    color: rgb(126, 92, 8);
}

@media (max-width: 500px) {
    #topbar .contact-info i.bx {
        visibility: hidden;
    }
}

@media (max-width: 500px) {
    #topbar .contact-info i.bi {
        position: relative;
        left: 50px;
    }
}

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 999;
    height: 86px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
    height: 75px;
}

#header .logo {
    max-height: 70px;
    image-rendering: optimizeQuality;
}

.scrolled-offset {
    margin-top: 70px;
}

@media (max-width: 375px) {
    #header .logo {
        max-height: 55px;
    }
}

@media (max-width: 320px) {
    #header .logo {
        max-height: 52px;
    }
}

/*--------------------------------------------------------------
# NAVIGATION MENU
--------------------------------------------------------------*/
/**
* DESKTOP NAVIGATION
*/

.navbar {
    font-family: 'Trueno SemiBold';
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar > ul > li {
    white-space: nowrap;
    padding: 10px  0 10px 28px;
}

.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #733411;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #733411;
}

.navbar .dropdown ul {
    font-family: 'Trueno Light';
    font-weight: 600;
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}
  

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-weight: 400;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #733411;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }

/**
* RESPONSIVE MOBILE NAVIGATION
*/
.mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
} 

.mobile-nav-toggle.bi-x {
    color: #fff;
    display: block;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
    .navbar ul {
      display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}


.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #222222;
}

.navbar-mobile > ul > li {
    padding: 0;
}

.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #733411;
}

.navbar-mobile .getstarted {
  margin: 15px;
}


.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #733411;
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# MANTRA CTA
--------------------------------------------------------------*/

.mantra-cta {
    background-image: url(https://i.ibb.co/d4Dt7wV/bg-mantra.jpg);
    height: 510px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #733411 solid thin
}

.mantra-cta:before {
    content: "";
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0
}

.mantra-cta h2 {
    font-family: 'Bebas Neue Regular';
    color: #f8f8ff;
    font-size: 64px
}

@media (max-width:425px) {
    .mantra-cta h2 {
        font-size: 48px
    }
    .mantra-cta p {
        font-size: 18px
    }
}

.mantra-cta p {
    font-size: 20px;
    color: #f6f9fe
}

.mantra-cta .mantra-cta-btn {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 26px;
    border-radius: 4px;
    transition: .5s;
    color: #fff;
    border: 2px solid #fff
}

.mantra-cta .mantra-cta-btn:hover {
    background: #733411;
    border-color: #733411;
    color: #151515
}

/*--------------------------------------------------------------
# CONTACT
--------------------------------------------------------------*/
.contact {
    padding-top: 80px;
    overflow: hidden;
}

.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;
}

.contact .info-box i {
    font-size: 32px;
    color: #733411;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #7333115b;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    font-family: 'Trueno Light';
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/

.footer {
    font-family: 'Trueno Light';
    text-align: center;
    background: #f6f9ff;;
    padding: 0 0 30px 0;
    font-size: 14px;
}

.footer .footer-top {
    background: white;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
    padding: 30px 0 30px 0;
}

.footer .footer-top img {
    max-height: 80px;
}

.footer .footer-top .footer-info p {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 0;
}

.footer .footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: #733411;
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
    color: #b8860b;
}

.footer .copyright {
    text-align: center;
    padding-top: 30px;
}
  
.footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
}

/*--------------------------------------------------------------
# HERO SECTION
--------------------------------------------------------------*/

.hero {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: url(https://i.ibb.co/7NvbLY8/hero-bg.jpg);
    background-size: cover;
    position: relative;
}
#hero .container {
    position: relative;
    bottom: 134px;
    z-index: 2;
}

#hero .d-flex {
    margin-top: 20px;
}

.hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0
}

#hero h1 {
    text-align: center;
    margin: 0;
    font-size: 36px;
    font-weight: 200;
    line-height: 56px;
    color: #f6f9fe;
    font-family: 'Bebas Neue Regular';
    font-style: normal;
    font-weight: normal;
}

#hero h1 span {
    font-family: 'Trueno SemiBold', sans-serif;
    background-color: #673400;
    background-image: linear-gradient(180deg, #673400 0%, #b5651d 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 72px;
}

.hero .school-abbrv {
    cursor: default;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    top: 34%;
    left: -3%;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.23);
}

@media (max-width: 1440px) {
    .hero .school-abbrv {
        display: none;
    }
}

#hero .btn-learn-more {
    font-family: 'Trueno Regular', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 28px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #673400 0%, #b5641db6  51%, #673400 100%);
    text-transform: uppercase;
    transition: 0.7s;
    background-size: 200% auto;
    color: #f6f9fe;            
}

#hero .btn-learn-more:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

#hero .btn-watch-video {
    margin-left: 25px;
    color: #f6f9fe;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
}

#hero .btn-watch-video i {
    background-image: linear-gradient(180deg, #673400 0%, #b5651d 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    -moz-text-fill-color: transparent;
    width: 100%;
    height: 100%;
    left: -200px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
    font-size: 30px;
    opacity: 0;
}

#hero .btn-watch-video span {
    font-family: 'Trueno Regular', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    left: 0;
    transition: all 0.4s ease-Out;
}

#hero .btn-watch-video:hover i {
    left: 0;
    opacity: 1;
}

#hero .btn-watch-video:hover span {
    left: 150px;
}

#hero .short-text { 
    display: none; 
}

@media (max-width: 768px) {
    #hero .short-text { 
    display: inline-block;
    }
    #hero .full-text { 
    display: none; 
    }
}

@media (max-width: 768px) {
    #hero {
        height: 100vh;
    }
    #hero h1 {
        font-size: 26px;
        line-height: 48px;
    }
    #hero .btn-learn-more, #hero .btn-watch-video span {
        font-size: 10px;
    }
}

@media (max-height: 500px) {
    #hero {
        height: 120vh;
    }
}

@media (max-width: 1024px) {
    #hero h1 span {
        font-size: 52px;
    }
} 

/*--------------------------------------------------------------
# ABOUT SECTION
--------------------------------------------------------------*/

.about {
    height: 100%;
    background-color: #fff;
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
}

.about .about-left {
    padding-right: 100px;
}

.about .about-left p {
    text-align: justify;
    margin-bottom: 25px;
    font-size: 15px;
}

.about .about-left .about-title {
    padding: 0;
    margin-bottom: 40px;
}

.about .about-left .about-title span {
    position: relative;
    text-transform: capitalize;
    padding: 8px 20px;
    border-radius: 30px 30px 30px 0;
    color: #fff;
    background-color: #733411;
    font-size: 13px;
}

.about .about-left .about-title h2 {
    margin-top: 20px;
    font-size: 35px;
    padding-bottom: 20px;
    line-height: 40px;
    text-transform: capitalize;
    position: relative;
    font-weight: 700;
}

.about .about-left .button {
    margin-top: 40px;
}


.about .about-left .button .btn:last-child {
    margin: 0;
}

.about .about-left .button .btn {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    background-image: linear-gradient(to right, #673400 0%, #b5641db6  51%, #673400 100%);
    text-transform: uppercase;
    transition: 0.7s;
    background-size: 200% auto;
    color: #f6f9fe; 
}

.about .about-left .button .btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.about.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.about.swiper-slide {
    background-size: cover;
    background-position: center;
}

.aboutSwiper2 {
    height: 80%;
    width: 100%;
}

.aboutSwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.aboutSwiper .swiper-slide {
    opacity: 0.6;
    width: 25%;
    height: 100%;
}

.aboutSwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.about-right .swiper-slide {
    cursor: grab;
}

.about-right .swiper-slide:active {
    cursor: grabbing;
}

.about .about-right .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about-title {
    text-align: center;
}

.about .about-title h2 span {
    position: relative;
    text-transform: capitalize;
    padding: 8px 20px;
    border-radius: 30px 30px 30px 0;
    font-weight: lighter;
    color: #fff;
    background-color: #733411;
    font-size: 13px;
}

.about .about-title h1 {
    font-family: "Bebas Neue Regular";
    padding-top: 3rem;
    font-size: 4rem;
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .about .about-left {
        padding:0;
    }
}

@media (max-width: 425px) {
    .about .about-title h1 {
        font-size: 3rem;
    }
}

/*--------------------------------------------------------------
# SCHOOL PROFILE
--------------------------------------------------------------*/

.school-profile-hero {
    background-image: url(https://i.ibb.co/LSKyD9Z/bg-1.jpg);
    padding: 0px;
    height: 45vh;
    background-size: cover;
}

.school-profile-hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0 
}

.school-profile-hero .container {
    z-index: 2;
}

.school-profile-hero h5 {
    color: #e6a314;
}

.school-profile-hero h2 {
    color: #f6f9fe;
}

.school-profile-content {
    color: #f6f9fe;
    padding-top: 40px !important;
    padding-bottom: 15px !important;
    text-align: center;
}

.school-profile-content .school-profile-content-inner {
    position: relative;
    margin-top: -175px;
    margin-bottom: 45px;
}

.school-profile-content .bg {
    background-color: #e6a314;
}

.school-profile-content .vision-mission {
    background-image: url(https://i.ibb.co/GnjfT26/bg-2.png);
}

.school-profile-content .vision-mission, .educational-goals {
    background-position: center;
    background-size: cover;
}

.educational-goals {
    background-image: url(https://i.ibb.co/M6wDMVn/bg-3.png);
    height: 300px;
}

.school-profile-content .vision-mission h5, .school-profile-content .educational-goals h5 {
    font-family: 'Trueno Light';
    font-size: 15px;
}

.school-profile-content .vision-mission h3, .school-profile-content .educational-goals h4 {
    text-align: justify;
    font-family: 'Trueno Light';
    font-weight: lighter;
    font-size: 23px;
}

.school-profile-content .educational-goals h4 {
    font-size: 28px;
}

@media (max-width: 768px){
    .school-profile-content .educational-goals h4, .school-profile-content .vision-mission h3 {
        font-size: 16px;
    }
    .school-profile-content .educational-goals h5 {
        font-size: 12px;
    }
}

.school-profile-content .school-objectives, .school-profile-content .hymn {
    padding: 0;
}

.school-profile-content .school-objectives .icon-box {
    background-color: #f6f9fe;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 6px;
}

.school-profile-content .school-objectives .icon-box i {
    margin-top: 10px;
    float: left;
    color: #733411;
    font-size: 40px;
}

.school-profile-content .school-objectives .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color:#222222;
    transition: 0.3s;
}

.school-profile-content .school-objectives p {
    color: #222222;
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
}

.school-profile-content .hymn .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
}

.school-profile-content .hymn .section-title p {
    font-size: 22px;
    color: #222222;
}

.school-profile-content .hymn .box p {
    font-family: 'Trueno Light';
    color: #222222;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.school-profile-content .hymn .box i {
    color: #733411;
    font-size: 28px;

}

.school-profile-content .hymn .box span {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #733411;
    padding: 10px 0;
}

.school-profile-content .hymn .box audio {
    border: solid 1px #733411;
    border-radius: 50px;
    outline: none;
    margin-top: 20px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .school-profile-content .hymn .box audio {
        width: 230px;
    }
}

/*--------------------------------------------------------------
# MESSAGE SECTION
--------------------------------------------------------------*/
.message {
    background-image: url(https://i.ibb.co/frVShBt/bg.jpg);
    height: 100%;
    background-size: cover;
}

.message img {
    max-height: 100%;
    border-radius: 450px;
}

.message-title h3 {
    font-weight: 600;
    color: #444444;
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 0;
    padding-top: 20px;
}

.message .msg-btn-readmore {
    display: block;
    right: 0;
    bottom: 0;
    float: right;
    margin-top: 10px;
}

.message .msg-btn-readmore a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    background-image: linear-gradient(to right, #673400 0%, #b5641db6  51%, #673400 100%);
    text-transform: uppercase;
    transition: 0.7s;
    background-size: 200% auto;
    color: #f6f9fe;  
}

.message .msg-btn-readmore a:hover {
    background-position: right center;
    color: #f6f9fe;
}

/*--------------------------------------------------------------
# PRINCIPAL'S STATEMENT
--------------------------------------------------------------*/
.principal-statement img {
    max-height: 450px;
}

section.principal-statement {
    padding: 50px 0 50px 0;
}

.principal-statement .text-1, .message .text-1 {
    font-family: 'Trueno UltraLight';
    font-weight: 600;
    font-size: 16px;
    text-align: justify;
}

.principal-statement .text-1 {
    font-size: 19px;
}

.principal-statement .lead, .message .lead {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 20px;
}

.principal-statement .lead span, .message .lead span {
    color: #733411;
}

.principal-statement p {
    padding: 0;
}

.principal-statement span {
    font-family: 'Trueno Regular Italic';
}

/*--------------------------------------------------------------
# HISTORY
--------------------------------------------------------------*/
.history {
    overflow: hidden;
    padding: 100px 0;
}

.history .btn-learn-more {
    font-family: 'Trueno Regular', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 28px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #673400 0%, #b5641db6  51%, #673400 100%);
    text-transform: uppercase;
    transition: 0.7s;
    background-size: 200% auto;
    color: #f6f9fe;            
}

.history .btn-learn-more:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.main-timeline{ 
    position: relative; 
}

.main-timeline:before, .main-timeline:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #733411;
    position: absolute;
    top: 0;
    left: 50%;
}

.main-timeline .timeline {
    width: 50%;
    float: left;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline:before, .main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline .timeline:first-child:before, .main-timeline .timeline:last-child:before{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    border: 4px solid #733411;
    position: absolute;
    top: 0;
    right: -14px;
    z-index: 1;
}

.main-timeline .timeline:last-child:before{
    top: auto;
    bottom: 0;
}

.main-timeline .timeline:last-child:nth-child(even):before {
    right: auto;
    left: -12px;
    bottom: -2px;
}

.main-timeline .timeline-content {
    text-align: center;
    margin-top: 8px;
    position: relative;
    transition: all 0.3s ease 0s;
}

.main-timeline .timeline-content:before {
    content: "";
    width: 100%;
    height: 5px;
    background: #733411;
    position: absolute;
    top: 88px;
    left: 0;
    z-index: -1;
}

.main-timeline .circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #fff;
    border: 8px solid rgb(115, 52, 17);
    float: left;
    margin-right: 25px;
    position: relative;
}

.main-timeline .circle:before {
    content: "";
    width: 26px;
    height: 30px;
    background: rgb(115, 52, 17);
    margin: auto;
    position: absolute;
    top: 0;
    right: -33px;
    bottom: 0;
    z-index: -1;
    box-shadow: inset 7px 0 9px -7px #444;
}

.main-timeline .circle span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    line-height: 266px;
    font-size: 80px;
    color: #454344;
}

.main-timeline .circle span:before, .main-timeline .circle span:after{
    content: "";
    width: 28px;
    height: 50px;
    background: #fff;
    border-radius: 0 0 0 21px;
    margin: auto;
    position: absolute;
    top: -54px;
    right: -33px;
    bottom: 0;
    z-index: -1;
}

.main-timeline .circle span:after {
    border-radius: 21px 0 0 0;
    top: 0;
    bottom: -56px;
}

.main-timeline .circle .img {
    vertical-align: initial;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}


.main-timeline .content {
    display: table;
    padding-right: 40px;
    position: relative;
}

.main-timeline .year {
    display: block;
    padding: 10px;
    margin: 10px 0 50px 0;
    border-radius: 7px;
    font-size: 25px;
    color: #fff;
}


.main-timeline .year  {
    background-image: linear-gradient(to right, #D1913C 0%, #FFD194  51%, #D1913C  100%)
}
.main-timeline .year {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .timeline:hover .year {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }


.main-timeline .title {
    font-size: 25px;
    font-weight: bold;
    color: rgb(46, 42, 42);
    margin-top: 0;
}

.main-timeline .description {
    font-size: 14px;
    color: #333;
    text-align: justify;
}

.main-timeline .icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    border: 4px solid rgb(115, 52, 17);
    position: absolute;
    top: 78px;
    right: -14px;
}

.main-timeline .icon:before {
    content: "";
    width: 15px;
    height: 25px;
    background: rgb(115, 52, 17);
    margin: auto;
    position: absolute;
    top: -1px;
    left: -15px;
    bottom: 0;
    z-index: -1;
}

.main-timeline .icon span:before, .main-timeline .icon span:after{
    content: "";
    width: 21px;
    height: 25px;
    background: #fff;
    border-radius: 0 0 21px 0;
    margin: auto;
    position: absolute;
    top: -30px;
    left: -15px;
    bottom: 0;
    z-index: -1;
}

.main-timeline .icon span:after {
    border-radius: 0 21px 0 0;
    top: 0;
    left: -15px;
    bottom: -30px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content, .main-timeline .timeline:nth-child(2n) .circle {
    float: right;
}

.main-timeline .timeline:nth-child(2n) .circle {
    margin: 0 0 0 25px;
}

.main-timeline .timeline:nth-child(2n) .circle:before {
    right: auto;
    left: -33px;
    box-shadow: -7px 0 9px -7px #444 inset;
}

.main-timeline .timeline:nth-child(2n) .circle span:before, .main-timeline .timeline:nth-child(2n) .circle span:after {
    right: auto;
    left: -33px;
    border-radius: 0 0 21px 0;
}

.main-timeline .timeline:nth-child(2n) .circle span:after {
    border-radius: 0 21px 0 0;
}

.main-timeline .timeline:nth-child(2n) .content {
    padding: 0 0 0 40px;
    margin-left: 2px;
}

.main-timeline .timeline:nth-child(2n) .icon {
    right: auto;
    left: -14px;
}

.main-timeline .timeline:nth-child(2n) .icon:before, .main-timeline .timeline:nth-child(2n) .icon span:before, .main-timeline .timeline:nth-child(2n) .icon span:after {
    left: auto;
    right: -15px;
}

.main-timeline .timeline:nth-child(2n) .icon span:before {
    border-radius: 0 0 0 21px;
}

.main-timeline .timeline:nth-child(2n) .icon span:after {
    border-radius: 21px 0 0 0;
}

.main-timeline .timeline:nth-child(2) {
    margin-top: 180px;
}

.main-timeline .timeline:nth-child(odd) {
    margin: -175px 0 0 0;
}

.main-timeline .timeline:nth-child(even) {
    margin-bottom: 180px;
}

.main-timeline .timeline:first-child, .main-timeline .timeline:last-child:nth-child(even) {
    margin: 0;
}

@media only screen and (max-width: 990px) {
    .main-timeline:before{ 
        left: 100%; 
    }
    .main-timeline .timeline {
        width: 100%;
        float: none;
        margin-bottom: 20px !important;
    }
    .main-timeline .timeline:first-child:before, .main-timeline .timeline:last-child:before {
        left: auto !important;
        right: -13px !important;
    }
    .main-timeline .timeline:nth-child(2n) .circle {
        float: left;
        margin: 0 25px 0 0;
    }
    .main-timeline .timeline:nth-child(2n) .circle:before {
        right: -33px;
        left: auto;
        box-shadow: 7px 0 9px -7px #444 inset;
    }
    .main-timeline .timeline:nth-child(2n) .circle span:before, .main-timeline .timeline:nth-child(2n) .circle span:after {
        right: -33px;
        left: auto;
        border-radius: 0 0 0 21px;
    }
    .main-timeline .timeline:nth-child(2n) .circle span:after {
        border-radius: 21px 0 0 0;
    }
    .main-timeline .timeline:nth-child(2n) .content {
        padding: 0 40px 0 0;
        margin-left: 0;
    }
    .main-timeline .timeline:nth-child(2n) .icon {
        right: -14px;
        left: auto;
    }
    .main-timeline .timeline:nth-child(2n) .icon:before, .main-timeline .timeline:nth-child(2n) .icon span:before, .main-timeline .timeline:nth-child(2n) .icon span:after {
        left: -15px;
        right: auto;
    }
    .main-timeline .timeline:nth-child(2n) .icon span:before {
        border-radius: 0 0 21px 0;
    }
    .main-timeline .timeline:nth-child(2n) .icon span:after {
        border-radius: 0 21px 0 0;
    }
    .main-timeline .timeline:nth-child(2), .main-timeline .timeline:nth-child(odd), .main-timeline .timeline:nth-child(even){
        margin: 0;
    }
}
@media only screen and (max-width: 480px) {
    .main-timeline:before { 
        left: 0; 
    }
    .main-timeline .timeline:first-child:before, .main-timeline .timeline:last-child:before {
        left: -12px !important;
        right: auto !important;
    }
    .main-timeline .circle, .main-timeline .timeline:nth-child(2n) .circle {
        width: 130px;
        height: 130px;
        float: none;
        margin: 0 auto;
    }
    .main-timeline .timeline-content:before {
        width: 99.5%;
        top: 68px;
        left: 0.5%;
    }
    .main-timeline .circle span { 
        line-height: 115px;
        font-size: 60px;
    }
    .main-timeline .circle:before, .main-timeline .circle span:before, .main-timeline .circle span:after, .main-timeline .icon{
        display: none;
    }
    .main-timeline .content, .main-timeline .timeline:nth-child(2n) .content {
        padding: 0 10px;
    }
    .main-timeline .year {
        margin-bottom: 15px;
    }
    .main-timeline .description {
        text-align: justify;
    }
}

/*--------------------------------------------------------------
# ALUMNI
--------------------------------------------------------------*/
.alumni {
    height: 100%;
    background-image: url(https://i.ibb.co/frVShBt/bg.jpg);
    padding: 80px 0;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.alumni::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
}

.alumni .alumni-item {
    text-align: center;
    color: #fff;
}

.alumni .alumni-item .alumni-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
}

.alumni .alumni-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #222;
}

.alumni .alumni-item h4 {
    font-size: 14px;
    color: #444;
    margin: 0 0 15px 0;
    padding: 10px 0 0 0;
}

.alumni .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.alumni .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgb(0, 0, 0);
    opacity: .5;
}

.alumni .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #733411;
    opacity: 1;
}

.alumni .alumni-item p {
    font-family: 'Trueno Light';
    margin-top: 0;
    font-size: 1rem;
}

@media (min-width: 1024px) {
    .alumni {
      background-attachment: fixed;
    }
}
  
  @media (min-width: 992px) {
    .alumni .alumni-item p {
      width: 80%;
    }
}

/*--------------------------------------------------------------
# INNER PAGE FACULTY STAFF SHS
--------------------------------------------------------------*/
.shs-faculty-staff {
    background-color: #f6f9fe;
    padding: 60px;
}

.shs-faculty-staff .staff {
    text-align: center;
    margin-bottom: 20px;
    background-color: #e6a314;
    position: relative;
    overflow: hidden;
}

.shs-faculty-staff .staff:hover {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.24);
    transition: 0.4s;
}

.shs-faculty-staff .staff .staff-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.shs-faculty-staff .staff .staff-info-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    transition: bottom 0.4s;
}

.shs-faculty-staff .staff .staff-info-content h4 {
    margin-bottom: 2px;
    font-size: 18px;
    color: #f6f9ff;
}

.shs-faculty-staff .staff .staff-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #f6f9ff;
}

.shs-faculty-staff .staff:hover .staff-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.30) 20%, rgba(255, 230, 0, 0) 100%);
    opacity: 1;
    transition: 0.4s;
}

.shs-faculty-staff .staff:hover .staff-info-content {
    bottom: 20px;
    transition: bottom 0.4s;
}

/*--------------------------------------------------------------
# PROGRAMS SECTION
--------------------------------------------------------------*/
.programs {
    padding-top: 80px;
    padding-bottom: 80px;
}

.programs .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
}

.programs .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
}

.programs .card-img img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.programs .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
}

.programs .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.programs .card-title a {
    color: #733411;
    transition: 0.3s;
}

.programs .card-text {
    text-align: justify;
    font-family: 'Trueno Light';
    color: #5e5e5e;
}

.programs .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
}

.programs .read-more a:hover {
    color: #e6a314;
}

.programs .card:hover img {
    transform: scale(1.1);
}

.programs .card:hover .card-body {
    border-color: #e6a314;
}

.programs .card:hover .card-body .card-title a {
    color: #e6a314;
}


/*--------------------------------------------------------------
# INNER PAGE PROGRAMS SHS
--------------------------------------------------------------*/
.inner-program-shs {
    padding: 80px 0 ;
}

.inner-program-shs .section-title p {
    text-align: justify;
}

.inner-program-shs .program-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
}

.inner-program-shs .program-box .icon {
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    transition: 0.3s;
}

.inner-program-shs .program-box h3 {
    font-family: 'Trueno SemiBold';
    font-size: 1.2em;
    color: #444444;
}

.inner-program-shs .program-box p {
    font-family: 'Trueno Light';
    font-weight: 500;
    padding: 16px 0;
    text-align: justify;
}

.inner-program-shs .program-box .read-more {
    font-family: 'Trueno SemiBold';
    font-weight: bold;
    color: #444444;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 8px 20px;
    position: relative;
}

.inner-program-shs .program-box .read-more i {
    line-height: 0;
    margin-left: 5px;
    font-size: 18px;
}

.inner-program-shs .program-box.brown {
    border-bottom: 3px solid #733411;
}

.inner-program-shs .program-box.yellow {
    border-bottom: 3px solid #e6a314;
}

.inner-program-shs .program-box.brown .icon {
    color: #733411;
    background: #7333112d;
}

.inner-program-shs .program-box.yellow .icon {
    color: #e6a314;
    background: #e8b6423f;
}

.inner-program-shs .program-box.brown:hover {
    color: #f6f9fe;
    background: #733411;
}

.inner-program-shs .program-box.yellow:hover {
    color: #f6f9fe;
    background: #e6a314;
}

.inner-program-shs .program-box:hover h3, .inner-program-shs .program-box:hover .read-more {
    color: #f6f9fe;
}

.inner-program-shs .program-box:hover .icon {
    background: #fff;
}

.inner-program-shs .program-box:hover h3 p {
    color: red;
}

/*--------------------------------------------------------------
# PROGRAM DETAILS SHS
--------------------------------------------------------------*/
.program-details {
    padding: 80px 0;
}

.program-details .program-details-slider img {
    width: 100%;
    height: 100%;
}

.program-details .program-details-slider img:hover {
    cursor: grab;
}

.program-details .program-details-slider img:active {
    cursor: grabbing;
}

.program-details .program-details-slider .swiper-pagination  {
    margin-top: 20px;
    position: relative;
}

.program-details .program-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #733411;
}

.program-details .program-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #733411;
}

.program-info {
    text-align: justify;
    padding: 30px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.program-details .program-info {
    text-align: center;
}

.program-details .program-info h3 {
    font-family: 'Trueno SemiBold';
    position: relative;
    text-transform: capitalize;
    padding: 8px 20px;
    border-radius: 30px 30px 30px 0;
    color: #444444;
    background-color: #e6a314;
    font-size: 13px;
}

.program-details .program-info h2 {
    font-family: 'Trueno SemiBold';
    font-size: 20px;
}

.program-details .program-info p {
    text-align: justify;
    font-family: 'Trueno Light';
}

/*--------------------------------------------------------------
# JHS PROGRAMS
--------------------------------------------------------------*/
.inner-program-jhs {
    padding: 100px 0;
}

.inner-program-jhs p {
    font-family: "Trueno Light";
    font-size: 18px;
}

.inner-program-jhs h2 span{
    font-size: 26px;
    display: inline-block;
    border-bottom: 3px solid #733411;
}

.inner-program-jhs .icon-box {
    margin: 60px 0;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 40px 30px;
    width: 100%;
}

.inner-program-jhs .icon-box i {
    font-size: 40px;
    color: #733411;
    margin-bottom: 30px;
}

.inner-program-jhs .icon-box p {
    font-size: 16px;
}